<div class="mobile-only">
  <label for="products-select">Produtos:</label>
  <select id="products-select" multiple>
    <option value="CARNE MOÍDA">CARNE MOÍDA</option>
    <option value="PERNIL MOÍDO">PERNIL MOÍDO</option>
    <option value="BACON">BACON</option>
    <option value="CALABRESA">CALABRESA</option>
    <option value="PICANHA SUINA TEMPERADA">PICANHA SUINA TEMPERADA</option>
    <option value="LOMBO SUINA TEMPERADA">LOMBO SUINA TEMPERADA</option>
    <option value="HAMBURGUER GRANDE">HAMBURGUER GRANDE</option>
    <option value="LINGUIÇA 500g">LINGUIÇA 500g</option>
    <option value="SALSICHA">SALSICHA</option>
    <option value="SOBRECOXA SEM OSSO">SOBRECOXA SEM OSSO</option>
    <option value="FILÉ DE FRANGO SASSAMI">FILÉ DE FRANGO SASSAMI</option>
    <option value="BISTECA COPA">BISTECA COPA</option>
    <option value="BIFE (ALCATRA/CONTRA)">BIFE (ALCATRA/CONTRA)</option>
    <option value="OVO">OVO</option>
    <option value="BATATA">BATATA</option>
    <option value="CEBOLA 11">CEBOLA 11</option>
    <option value="TOMATE 4">TOMATE 4</option>
    <option value="TOMATINHO 1">TOMATINHO 1</option>
    <option value="PIMENTÃO">PIMENTÃO</option>
    <option value="LIMÃO">LIMÃO</option>
    <option value="VAGEM">VAGEM</option>
    <option value="QUIABO">QUIABO</option>
    <option value="JILÓ">JILÓ</option>
    <option value="ABOBRINHA 1">ABOBRINHA 1</option>
    <option value="BETERRABA">BETERRABA</option>
    <option value="INHAME">INHAME</option>
    <option value="GENGIBRE">GENGIBRE</option>
    <option value="CENOURA 2">CENOURA 2</option>
    <option value="CHUCHU">CHUCHU</option>
    <option value="MANDIOQUINHA">MANDIOQUINHA</option>
    <option value="CHEIRO VERDE">CHEIRO VERDE</option>
    <option value="ALFACE">ALFACE</option>
    <option value="REPOLHO">REPOLHO</option>
    <option value="ALHO 500g">ALHO 500g</option>
    <option value="MAMÃO">MAMÃO</option>
    <option value="BANANA">BANANA</option>
    <option value="UVA">UVA</option>
    <option value="MAÇÃ">MAÇÃ</option>
    <option value="AMEIXA">AMEIXA</option>
    <option value="MEXERICA">MEXERICA</option>
    <option value="MARGARINA">MARGARINA</option>
    <option value="LEITE TEM 1">LEITE TEM 1</option>
    <option value="REQUEIJÃO">REQUEIJÃO</option>
    <option value="MUSSARELA">MUSSARELA</option>
    <option value="PRESUNTO">PRESUNTO</option>
    <option value="MORTADELA">MORTADELA</option>
    <option value="BATATA FRITA">BATATA FRITA</option>
    <option value="BATATA FRITA TEMPERADA">BATATA FRITA TEMPERADA</option>
    <option value="MANDIOCA">MANDIOCA</option>
    <option value="LEGUMES CONGELADO">LEGUMES CONGELADO</option>
    <option value="CHIPA SEM GLÚTEN">CHIPA SEM GLÚTEN</option>
    <option value="AGUA DE COCO">AGUA DE COCO</option>
    <option value="YAKULT">YAKULT</option>
    <option value="DANONE">DANONE</option>
    <option value="POUPA DE FRUTAS">POUPA DE FRUTAS</option>
    <option value="ARROZ 1">ARROZ 1</option>
    <option value="FEIJAO 1">FEIJAO 1</option>
    <option value="FEIJAO BRANCO/VERMELHO">FEIJAO BRANCO/VERMELHO</option>
    <option value="FEIJAO PRETO">FEIJAO PRETO</option>
    <option value="ESPAGUETE">ESPAGUETE</option>
    <option value="PENE">PENE</option>
    <option value="PARAFUSO">PARAFUSO</option>
    <option value="QUEIJO RALADO ½">QUEIJO RALADO ½</option>
    <option value="MOLHO PEDAÇO">MOLHO PEDAÇO</option>
    <option value="MOLHO EXTRATO 4">MOLHO EXTRATO 4</option>
    <option value="AZEITE/MISTO 1">AZEITE/MISTO 1</option>
    <option value="AZEITONA">AZEITONA</option>
    <option value="SHOYO">SHOYO</option>
    <option value="SAZOM">SAZOM</option>
    <option value="AJINOMOTO">AJINOMOTO</option>
    <option value="FAROFA">FAROFA</option>
    <option value="MAISENA">MAISENA</option>
    <option value="OLEO">OLEO</option>
    <option value="VINAGRE">VINAGRE</option>
    <option value="MILHO">MILHO</option>
    <option value="ERVILHA">ERVILHA</option>
    <option value="SARDINHA">SARDINHA</option>
    <option value="AÇUCAR DEMERARA">AÇUCAR DEMERARA</option>
    <option value="SAL HIMALAIA">SAL HIMALAIA</option>
    <option value="SUCO CONCENTRADO">SUCO CONCENTRADO</option>
    <option value="REFRIGERANTE">REFRIGERANTE</option>
    <option value="CATCHUP">CATCHUP</option>
    <option value="MAIONESE">MAIONESE</option>
    <option value="MOSTARDA">MOSTARDA</option>
    <option value="BARBECUE">BARBECUE</option>
    <option value="LEITE CONDENSADO">LEITE CONDENSADO</option>
    <option value="CREME DE LEITE">CREME DE LEITE</option>
    <option value="ACHOCOLATADO">ACHOCOLATADO</option>
    <option value="CAPSULA CAFÉ">CAPSULA CAFÉ</option>
    <option value="CAFÉ">CAFÉ</option>
    <option value="FILTRO CAFÉ">FILTRO CAFÉ</option>
    <option value="CHÁ">CHÁ</option>
    <option value="PIPOCA MICROONDAS">PIPOCA MICROONDAS</option>
    <option value="WRAP">WRAP</option>
    <option value="MIOJO">MIOJO</option>
    <option value="BIFUM">BIFUM</option>
    <option value="GELEIA">GELEIA</option>
    <option value="BISCOITO POLVILHO">BISCOITO POLVILHO</option>
    <option value="CUSCUZ">CUSCUZ</option>
    <option value="PÃO">PÃO</option>
    <option value="TAPIOCA">TAPIOCA</option>
    <option value="BISCOITOS">BISCOITOS</option>
    <option value="LYSOFORM">LYSOFORM</option>
    <option value="Sapólio cremoso">Sapólio cremoso</option>
    <option value="Álcool">Álcool</option>
    <option value="Cheirinho">Cheirinho</option>
    <option value="Removedor">Removedor</option>
    <option value="Acetona">Acetona</option>
    <option value="BOM AR REFIL">BOM AR REFIL</option>
    <option value="OLEO GESTANTE">OLEO GESTANTE</option>
    <option value="LAMPADA">LAMPADA</option>
    <option value="GILETE">GILETE</option>
    <option value="SHAMPOO">SHAMPOO</option>
    <option value="CONDICIONADOR">CONDICIONADOR</option>
    <option value="SACO LIXO">SACO LIXO</option>
    <option value="CANDIDA">CANDIDA</option>
    <option value="SABÃO LÍQUIDO OMU">SABÃO LÍQUIDO OMU</option>
    <option value="AMACIANTE">AMACIANTE</option>
    <option value="AMACIANTE BEBE">AMACIANTE BEBE</option>
    <option value="DETERGENTE 3">DETERGENTE 3</option>
    <option value="MULTIUSO 2">MULTIUSO 2</option

<div class="desktop-only" id="products-desktop">
  <p>Produtos:</p>
  <button type="button" id="select-all-products">Selecionar tudo</button>
  <button type="button" id="deselect-all-products">Desmarcar tudo</button>

  <div class="product-options">
    <label><input type="checkbox" value="CARNE MOÍDA"> CARNE MOÍDA</label>
    <label><input type="checkbox" value="PERNIL MOÍDO"> PERNIL MOÍDO</label>
    <label><input type="checkbox" value="BACON"> BACON</label>
    <label><input type="checkbox" value="CALABRESA"> CALABRESA</label>
    <label><input type="checkbox" value="PICANHA SUINA TEMPERADA"> PICANHA SUINA TEMPERADA</label>
    <label><input type="checkbox" value="LOMBO SUINA TEMPERADA"> LOMBO SUINA TEMPERADA</label>
    <label><input type="checkbox" value="HAMBURGUER GRANDE"> HAMBURGUER GRANDE</label>
    <label><input type="checkbox" value="LINGUIÇA 500g"> LINGUIÇA 500g</label>
    <label><input type="checkbox" value="SALSICHA"> SALSICHA</label>
    <label><input type="checkbox" value="SOBRECOXA SEM OSSO"> SOBRECOXA SEM OSSO</label>
    <label><input type="checkbox" value="FILÉ DE FRANGO SASSAMI"> FILÉ DE FRANGO SASSAMI</label>
    <label><input type="checkbox" value="BISTECA COPA"> BISTECA COPA</label>
    <label><input type="checkbox" value="BIFE (ALCATRA/CONTRA)"> BIFE (ALCATRA/CONTRA)</label>
    <label><input type="checkbox" value="OVO"> OVO</label>
    <label><input type="checkbox" value="BATATA"> BATATA</label>
    <label><input type="checkbox" value="CEBOLA 11"> CEBOLA 11</label>
    <label><input type="checkbox" value="TOMATE 4"> TOMATE 4</label>
    <label><input type="checkbox" value="TOMATINHO 1"> TOMATINHO 1</label>
    <label><input type="checkbox" value="PIMENTÃO"> PIMENTÃO</label>
    <label><input type="checkbox" value="LIMÃO"> LIMÃO</label>
    <label><input type="checkbox" value="VAGEM"> VAGEM</label>
    <label><input type="checkbox" value="QUIABO"> QUIABO</label>
    <label><input type="checkbox" value="JILÓ"> JILÓ</label>
    <label><input type="checkbox" value="ABOBRINHA 1"> ABOBRINHA 1</label>
    <label><input type="checkbox" value="BETERRABA"> BETERRABA</label>
    <label><input type="checkbox" value="INHAME"> INHAME</label>
    <label><input type="checkbox" value="GENGIBRE"> GENGIBRE</label>
    <label><input type="checkbox" value="CENOURA 2"> CENOURA 2</label>
    <label><input type="checkbox" value="CHUCHU"> CHUCHU</label>
    <label><input type="checkbox" value="MANDIOQUINHA"> MANDIOQUINHA</label>
    <label><input type="checkbox" value="CHEIRO VERDE"> CHEIRO VERDE</label>
    <label><input type="checkbox" value="ALFACE"> ALFACE</label>
    <label><input type="checkbox" value="REPOLHO"> REPOLHO</label>
    <label><input type="checkbox" value="ALHO 500g"> ALHO 500g</label>
    <label><input type="checkbox" value="MAMÃO"> MAMÃO</label>
    <label><input type="checkbox" value="BANANA"> BANANA</label>
    <label><input type="checkbox" value="UVA"> UVA</label>
    <label><input type="checkbox" value="MAÇÃ"> MAÇÃ</label>
    <label><input type="checkbox" value="AMEIXA"> AMEIXA</label>
    <label><input type="checkbox" value="MEXERICA"> MEXERICA</label>
    <label><input type="checkbox" value="MARGARINA"> MARGARINA</label>
    <label><input type="checkbox" value="LEITE TEM 1"> LEITE TEM 1</label>
    <label><input type="checkbox" value="REQUEIJÃO"> REQUEIJÃO</label>
    <label><input type="checkbox" value="MUSSARELA"> MUSSARELA</label>
    <label><input type="checkbox" value="PRESUNTO"> PRESUNTO</label>
    <label><input type="checkbox" value="MORTADELA"> MORTADELA</label>
    <label><input type="checkbox" value="BATATA FRITA"> BATATA FRITA</label>
    <label><input type="checkbox" value="BATATA FRITA TEMPERADA"> BATATA FRITA TEMPERADA</label>
    <label><input type="checkbox" value="MANDIOCA"> MANDIOCA</label>
    <label><input type="checkbox" value="LEGUMES CONGELADO"> LEGUMES CONGELADO</label>
    <label><input type="checkbox" value="CHIPA SEM GLÚTEN"> CHIPA SEM GLÚTEN</label>
    <label><input type="checkbox" value="AGUA DE COCO"> AGUA DE COCO</label>
    <label><input type="checkbox" value="YAKULT"> YAKULT</label>
    <label><input type="checkbox" value="DANONE"> DANONE</label>
    <label><input type="checkbox" value="POUPA DE FRUTAS"> POUPA DE FRUTAS</label>
    <label><input type="checkbox" value="ARROZ 1"> ARROZ 1</label>
    <label><input type="checkbox" value="FEIJAO 1"> FEIJAO 1</label>
    <label><input type="checkbox" value="FEIJAO BRANCO/VERMELHO"> FEIJAO BRANCO/VERMELHO</label>
    <label><input type="checkbox" value="FEIJAO PRETO"> FEIJAO PRETO</label>
    <label><input type="checkbox" value="ESPAGUETE"> ESPAGUETE</label>
    <label><input type="checkbox" value="PENE"> PENE</label>
    <label><input type="checkbox" value="PARAFUSO"> PARAFUSO</label>
    <label><input type="checkbox" value="QUEIJO RALADO ½"> QUEIJO RALADO ½</label>
    <label><input type="checkbox" value="MOLHO PEDAÇO"> MOLHO PEDAÇO</label>
    <label><input type="checkbox" value="MOLHO EXTRATO 4"> MOLHO EXTRATO 4</label>
    <label><input type="checkbox" value="AZEITE/MISTO 1"> AZEITE/MISTO 1</label>
    <label><input type="checkbox" value="AZEITONA"> AZEITONA</label>
    <label><input type="checkbox" value="SHOYO"> SHOYO</label>
    <label><input type="checkbox" value="SAZOM"> SAZOM</label>
    <label><input type="checkbox" value="AJINOMOTO"> AJINOMOTO</label>
    <label><input type="checkbox" value="FAROFA"> FAROFA</label>
    <label><input type="checkbox" value="MAISENA"> MAISENA</label>
    <label><input type="checkbox" value="OLEO"> OLEO</label>
    <label><input type="checkbox" value="VINAGRE"> VINAGRE</label>
    <label><input type="checkbox" value="MILHO"> MILHO</label>
    <label><input type="checkbox" value="ERVILHA"> ERVILHA</label>
    <label><input type="checkbox" value="SARDINHA"> SARDINHA</label>
    <label><input type="checkbox" value="AÇUCAR DEMERARA"> AÇUCAR DEMERARA</label>
    <label><input type="checkbox" value="SAL HIMALAIA"> SAL HIMALAIA</label>
    <label><input type="checkbox" value="SUCO CONCENTRADO"> SUCO CONCENTRADO</label>
    <label><input type="checkbox" value="REFRIGERANTE"> REFRIGERANTE</label>
    <label><input type="checkbox" value="CATCHUP"> CATCHUP</label>
    <label><input type="checkbox" value="MAIONESE"> MAIONESE</label>
    <label><input type="checkbox" value="MOSTARDA"> MOSTARDA</label>
    <
