<label for="stores-select">Escolha os supermercados:</label>
<select id="stores-select" multiple>
  <option value="GoodBom">GoodBom Hortolândia</option>
  <option value="Arena">Arena Atacado</option>
  <option value="Tenda">Tenda Atacado</option>
  <option value="Savegnago">Savegnago</option>
  <option value="Assai">Assaí Atacadista</option>
  <option value="Enxuto">Enxuto Supermercados</option>
  <option value="Morete">Supermercado Morete</option>
  <option value="PagueMenos">Pague Menos Supermercados</option>
  <option value="Atacadao">Atacadão</option>
  <option value="DIA">DIA Supermercado</option>
</select>
