<div class="stores-container">
  <label><strong>Supermercados em Hortolândia:</strong></label>
  <div class="store-options">
    <label><input type="checkbox" name="stores" value="Good Bom"> Good Bom</label>
    <label><input type="checkbox" name="stores" value="Paulistão"> Paulistão</label>
    <label><input type="checkbox" name="stores" value="Assaí Atacadista"> Assaí Atacadista</label>
    <label><input type="checkbox" name="stores" value="Atacadão"> Atacadão</label>
    <label><input type="checkbox" name="stores" value="Dia"> Dia</label>
  </div>
</div>
